[screws_tilt_adjust]
# Coordenadas ajustadas para tornillos a 3 cm de los bordes + Offset BLTouch (Y-40)
screw1: 30, 70
screw1_name: Esquina Delantera Izquierda
screw2: 280, 70
screw2_name: Esquina Delantera Derecha
screw3: 280, 310                 # <--- Límite físico máximo seguro para tu eje Y
screw3_name: Esquina Trasera Derecha
screw4: 30, 310                  # <--- Límite físico máximo seguro para tu eje Y
screw4_name: Esquina Trasera Izquierda
horizontal_move_z: 10
speed: 150
screw_thread: CW-M3

