# Comando para eliminar archivos CSV viejos antes de cada test
[gcode_shell_command limpiar_residuos_shaper]
command: rm -f /tmp/raw_data_*.csv /tmp/resonances_*.csv
timeout: 2.0
verbose: False

# Tu comando actual de correas (Déjalo como está si ya te funciona la ruta)
[gcode_shell_command generate_belt_tension_graph]
command: sh -c "python3 ~/klipper/scripts/graph_accelerometer.py -c /tmp/raw_data_axis=1_1_*.csv /tmp/raw_data_axis=1_-1_*.csv -o ~/printer_data/config/input_shaper/tension_correas.png"
timeout: 60.0
verbose: True

# Nuevo comando para la gráfica de Input Shaper del Eje X
[gcode_shell_command generate_shaper_graph_x]
command: sh -c "python3 ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o ~/printer_data/config/input_shaper/input_shaper_x.png"
timeout: 60.0
verbose: True

# Nuevo comando para la gráfica de Input Shaper del Eje Y
[gcode_shell_command generate_shaper_graph_y]
command: sh -c "python3 ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o ~/printer_data/config/input_shaper/input_shaper_y.png"
timeout: 60.0
verbose: True
