# ====================================================================
# COMANDOS DE SISTEMA PARA GRÁFICAS DE INPUT SHAPER Y CORREAS
# ====================================================================

[gcode_shell_command limpiar_residuos_shaper]
command: rm -f /tmp/resonances_*.csv /tmp/calibration_data_*.csv /tmp/raw_data_*.csv ~/printer_data/config/input_shaper/*.png
timeout: 5.0
verbose: True

[gcode_shell_command generate_shaper_graph_x]
command: python3 ~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o ~/printer_data/config/input_shaper/shaper_X.png
timeout: 60.0
verbose: True

[gcode_shell_command generate_shaper_graph_y]
command: python3 ~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o ~/printer_data/config/input_shaper/shaper_Y.png
timeout: 60.0
verbose: True

[gcode_shell_command generate_belt_tension_graph]
command: python3 ~/klipper/scripts/graph_accelerometer.py -c /tmp/raw_data_axis=1,1_*.csv /tmp/raw_data_axis=1,-1_*.csv -o ~/printer_data/config/input_shaper/tension_correas.png
timeout: 60.0
verbose: True
