# ====================================================================
# COMANDOS DE TERMINAL PARA GRÁFICAS E INPUT SHAPER (BLV MGN CUBE)
# ====================================================================

# Comando para cerrar procesos colgados y limpiar archivos CSV viejos de raíz
[gcode_shell_command limpiar_residuos_shaper]
command: sh -c "pkill -f calibrate_shaper.py; pkill -f graph_accelerometer.py; rm -f /tmp/raw_data_*.csv /tmp/resonances_*.csv /tmp/calibration_data_*.csv"
timeout: 5.0
verbose: True

# Comando específico para la gráfica comparativa de tensión de correas
[gcode_shell_command generate_belt_tension_graph]
command: sh -c "python3 ~/klipper/scripts/graph_accelerometer.py -c /tmp/raw_data_axis=1_1_*.csv /tmp/raw_data_axis=1_-1_*.csv -o ~/printer_data/config/input_shaper/tension_correas.png"
timeout: 60.0
verbose: True

# Comando para generar la gráfica independiente del Eje X (Corregido para SHAPER_CALIBRATE)
[gcode_shell_command generate_shaper_graph_x]
command: sh -c "python3 ~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o ~/printer_data/config/input_shaper/input_shaper_x.png"
timeout: 60.0
verbose: True

# Comando para generar la gráfica independiente del Eje Y (Corregido para SHAPER_CALIBRATE)
[gcode_shell_command generate_shaper_graph_y]
command: sh -c "python3 ~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o ~/printer_data/config/input_shaper/input_shaper_y.png"
timeout: 60.0
verbose: True
