# ====================================================================
# 1. MACRO: COMPROBAR TENSIÓN DE CORREAS
# ====================================================================
[gcode_macro COMPROBAR_TENSION_CORREAS]
description: Mide la tensión de las correas en diagonal y genera la gráfica comparativa
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    G90
    G1 Z20 F600
    G1 X155 Y155 F9000
    M118 Midiendo tensión física de Correas...
    TEST_RESONANCES AXIS=1,1 OUTPUT=raw_data
    TEST_RESONANCES AXIS=1,-1 OUTPUT=raw_data
    M118 Procesando gráfica de correas...
    RUN_SHELL_COMMAND CMD=generate_belt_tension_graph
    M118 Gráfica de correas guardada en la carpeta 'input_shaper'.

# ====================================================================
# 2. MACRO: INPUT SHAPER EJE X
# ====================================================================
[gcode_macro CALIBRAR_INPUT_SHAPER_X]
description: Calibración automática del Input Shaper para el Eje X y generación de gráfica
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    G90
    G1 Z20 F600
    G1 X155 Y155 F9000
    M118 Iniciando calibración Input Shaper Eje X...
    SHAPER_CALIBRATE AXIS=X
    M118 Procesando gráfica del Eje X...
    RUN_SHELL_COMMAND CMD=generate_belt_tension_graph
    M118 Test del Eje X terminado. Haz clic en 'SAVE_CONFIG' para guardar los datos.

# ====================================================================
# 3. MACRO: INPUT SHAPER EJE Y
# ====================================================================
[gcode_macro CALIBRAR_INPUT_SHAPER_Y]
description: Calibración automática del Input Shaper para el Eje Y y generación de gráfica
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    G90
    G1 Z20 F600
    G1 X155 Y155 F9000
    M118 Iniciando calibración Input Shaper Eje Y...
    SHAPER_CALIBRATE AXIS=Y
    M118 Procesando gráfica del Eje Y...
    RUN_SHELL_COMMAND CMD=generate_belt_tension_graph
    M118 Test del Eje Y terminado. Haz clic en 'SAVE_CONFIG' para guardar los datos.
